<div class="ad_form_container">
    <h1>Welcome to the Ad creation page</h1>
    <div class="ad_form_container__flex__input">
        <mat-label>Thumbnail Image</mat-label>
        <input type="file" class="file-upload" (change)="onFileSelected($event, 'imageUrl')">
        <mat-hint>Select only one image</mat-hint>
    </div>
    <div class="ad_form_container__flex__input">
        <mat-label>Display Images</mat-label>
        <input type="file" class="file-upload" multiple (change)="onFileSelected($event, 'images')">
        <mat-hint>You can select multiple images</mat-hint>
    </div>
    <div [formGroup]="createForm" class="ad_form_container__flex">
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Iphone 13 Pro Max" formControlName="title">
            <mat-hint>Enter your product title here</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Secondary Title</mat-label>
            <input matInput placeholder="6GB RAM and 128GB ROM" formControlName="secondary_title">
            <mat-hint>Give important product specs</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>ImageUrl</mat-label>
            <input matInput placeholder="https://somethinghere" formControlName="imageUrl" readonly>
            <mat-hint>Please upload images from the choose file above</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Price</mat-label>
            <input matInput placeholder="1100.99" formControlName="price" type="number">
            <mat-hint>Provide the product listing price</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Simple Description</mat-label>
            <input matInput placeholder="Very rarely used." formControlName="simple_desc">
            <mat-hint>Short but highly informative description</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Description</mat-label>
            <input matInput placeholder="You probably want to write at least 50 words to describe your product." formControlName="description">
            <mat-hint>Please provide some detailed information</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="locateMe()">Locate Me</button>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder="12.1001" formControlName="location_lat">
            <mat-hint>Locate me will come to your rescue</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Longitude</mat-label>
            <input matInput placeholder="17.119" formControlName="location_long">
            <mat-hint>Locate me will come to your rescue</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>City</mat-label>
            <input matInput placeholder="Gainesville" formControlName="city">
            <mat-hint>Enter the city or village you are in</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>State</mat-label>
            <input matInput placeholder="FL" formControlName="state">
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
                <mat-option *ngFor="let option of conditions" [value]="option">
                  {{option}}
                </mat-option>
            </mat-select>
            <mat-hint>Please provide </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Age</mat-label>
            <input matInput placeholder="1.2" formControlName="age" type="number" min="0">
            <mat-hint>How many years old is your product</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Images</mat-label>
            <input readonly matInput placeholder="https://somethinghere1, https://somethinghere2, https://somethinghere3" formControlName="images">
            <mat-hint>Please upload images from the choose file above</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Target</mat-label>
            <mat-select formControlName="target">
                <mat-option *ngFor="let option of targets" [value]="option">
                  {{option}}
                </mat-option>
            </mat-select>
            <mat-hint>Whom do you want to target</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ad_form_container__flex__input">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let option of categories" [value]="option">
                  {{option}}
                </mat-option>
            </mat-select>
            <mat-hint>Your products category</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitAdd()" [disabled]="createForm.invalid">Create Ad</button>
    </div>
</div>