<div [formGroup]="filterForm">
    <h1>Product Filters</h1>
    <div class="filter-form">
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                    <mat-option *ngFor="let option of conditions" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>Target</mat-label>
                <mat-select formControlName="target">
                    <mat-option *ngFor="let option of targets" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>Age</mat-label>
                <input matInput placeholder="between 1 2" formControlName="age">
            </mat-form-field>
        </div>
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>SortBy</mat-label>
                <mat-select formControlName="sortBy">
                    <mat-option *ngFor="let option of sortBy" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>Price</mat-label>
                <input matInput placeholder="between 100 1000" formControlName="price">
            </mat-form-field>
        </div>
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>Radius</mat-label>
                <input matInput placeholder="2" formControlName="radius">
            </mat-form-field>
        </div>
        <div class="filter-form__item">
            <mat-form-field appearance="outline" class="ad_form_container__flex__input">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let option of categories" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="filter-actions">
        <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
        <button mat-raised-button color="warn" (click)="clearFilters()">Clear</button>
    </div>
</div>