.product-card {
    width: 250px;
    margin: 20px;
    &__image {
        &__content {
            margin: auto;
            width:200px;
            height:200px;
        }
    }
    &__info {
        padding-bottom: 10px;
        padding-right: 10px;
        &__price {
            font-weight: bolder;
            display: inline;
            font-size: 20px;
        }
        &__location {
            color: grey;
            display: inline;
            font-size: 20px;
        }
        &__desc {
            height: 80px;
            overflow: hidden;
            text-overflow: ellipse;
        }
    }
}